@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

footer {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #db202c;
  letter-spacing: 5px;

  font-family: "Bebas Neue", cursive;
}
